<!doctype html>
<html lang="en">
<head>
    <title>Items List</title>
</head>
<body>
    {% include 'header.html' %}
    <table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr>
        {% if products %}
        {%for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <p>{{ error }}</p>
        {% endif %}
    </tr>
    </table>
    {% include 'footer.html' %}
</body>
</html>